<!-- your html code here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <img src="/website/assets/img/2.jpg" class="rounded-circle" alt="">
            </div>
        </div>
        <div class="col-8">
            <div class="second-heading">
            <h1>This Second Heading <span class="text-secondary">is Pretty Cool Too</span></h1>
            <span class="second-p mr-20"></span>
            <p class="d-flex">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic
                tenetur a sapiente delectus.</p>
            </div>
        </div>
    </div>
</div>